* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navbar {
  padding: 10px 1px;
}

.navbar-brand img {
  margin-right: 5px;
}

#output {
  background-color: #d1d9e0;
}

#flexSwitchCheckDefault {
  cursor: pointer;
}
